<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <style>
        html,body {
            height:100%;
        }
        .container {
            height:100%;
        }
        .main-row {
            margin-left:0;
            margin-right:0;
        }
        .fill {
            width:100%;
            height:100%;
            min-height:100%;
            padding:0px;
        }
        .sidebar
        {
            background: #F0F0F0;
            height:100%;
            min-height:100%;
        }
        .main-content-area
        {
            background: #fff;
            background-position: 50% 50%; /* image centered on screen */
            height:100%;
            min-height:100%;
            overflow: auto;
        }
    </style>
    {% block stylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="row main-row fill">
    <div class="col-sm-2 sidebar hidden-xs">
        <h3>Blue Company</h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ url('homepage') }}">Productos</a></li>
            <li><a href="{{ url('validateXLS') }}">Validador</a></li>
        </ul>
    </div>
    <div class="col-sm-10 col-xs-12 main-content-area">
        <h1 class="page-header">
            {% block title_section %}{% endblock %}
        </h1>
        <p id="main-content">
            {% block body %}{% endblock %}
        </p>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
</div>
{% block javascripts %}{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
