{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title_section %}
    Nuevo Producto
{% endblock %}

{% block body %}
    <div id="formProduct">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
    <div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">
                        Producto creado correctamente.
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <a href="{{ url('homepage') }}" class="btn btn-border btn-default">Entendido</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var $category = $('#appbundle_product_category');
        $category.parent('.form-group').after('<div id="foodProduct"></div>');
        $category.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$category.attr('name')] = $category.val();
            $.ajax({
                url : $form.attr('action'),
                type: 'POST',
                data : data,
                success: function(html) {
                    html = $(html).find('#appbundle_product_foodProduct');
                    $('#foodProduct').html(html);
                }
            });
        });

        $('form').submit(function(event) {
            event.preventDefault();
            var data = new FormData($("form")[0]);
            $.ajax({
                url : $(this).attr('action'),
                type: 'POST',
                data : data,
                contentType: false,
                processData: false,
                success: function(data, statusText, xhr) {
                    if(xhr.status == 201) {
                        $('#successModal').modal('show');
                    }
                    else {
                        var htmlForm = $(data).find('#formProduct');
                        $('#formProduct').html(htmlForm);
                    }
                },
                error: function() {
                    alert('ha ocurrido un error');
                }
            });
        });
    </script>
{% endblock %}
{% block stylesheets %}
{% endblock %}